<!-- displays cards showing global statistics on covid19 with more in depth graphs-->

<nb-card>
    <nb-card-header>GLOBAL CHARTS</nb-card-header>
</nb-card>

<nb-card status="primary" class="cbg">
    <nb-card-header class="h4">Cases per Day</nb-card-header>
    <nb-card-body>
        <div><canvas id="dailyCasesGlobalLine"></canvas></div>
    </nb-card-body>
</nb-card>
<nb-card status="primary" class="cbg">
    <nb-card-header class="h4">Deaths per Day</nb-card-header>
    <nb-card-body>
        <div><canvas id="dailyDeathsGlobalLine"></canvas></div>
    </nb-card-body>
</nb-card>
<nb-card status="primary" class="cbg">
    <nb-card-header class="h4">Recovered per Day</nb-card-header>
    <nb-card-body>
        <div><canvas id="dailyRecoveredGlobalLine"></canvas></div>
    </nb-card-body>
</nb-card>
<nb-card status="primary" class="cbg">
    <nb-card-header class="h4">Cumulative Cases</nb-card-header>
    <nb-card-body>
        <div><canvas id="cumCasesGlobalLine"></canvas></div>
    </nb-card-body>
</nb-card>
<nb-card status="primary" class="cbg">
    <nb-card-header class="h4">Cumulative Deaths</nb-card-header>
    <nb-card-body>
        <div><canvas id="cumDeathsGlobalLine"></canvas></div>
    </nb-card-body>
</nb-card>
<nb-card status="primary" class="cbg">
    <nb-card-header class="h4">Cumulative Recovered</nb-card-header>
    <nb-card-body>
        <div><canvas id="cumRecoveredGlobalLine"></canvas></div>
    </nb-card-body>
</nb-card>
<nb-card status="primary" class="cbg">
    <nb-card-header class="h4">Daily Cases vs Daily Recovered</nb-card-header>
    <nb-card-body>
        <div><canvas id="casesVsRecovered"></canvas></div>
    </nb-card-body>
</nb-card>
<nb-card status="primary" class="cbg">
    <nb-card-header class="h4">Daily Recovered vs Daily Deaths</nb-card-header>
    <nb-card-body>
        <div><canvas id="recoveredVsDeaths"></canvas></div>
    </nb-card-body>
</nb-card>