
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand neat-link" routerLink="/">
    <h2><img src="assets/img/virus.svg" class="align-img"> &nbsp; Litch</h2>
  </a>

  <div>
    <button class="btn btn-outline-light" routerLink="/national">National</button>
    &nbsp;
    <a class="btn btn-outline-light btn-link" href="https://sacoronavirus.co.za/" target=_blank>News</a>
    &nbsp;
    <button class="btn btn-outline-primary" routerLink="/graphs">Graphs</button>
    <!-- uncomment to see what I'm working on
      &nbsp;
    <button class="btn btn-outline-primary" routerLink="/simulation">Advanced</button> -->
  </div>
</nav>

<nb-layout>

  <nb-layout-column>
    
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
    <a href="mailto://HRDSAH001@myuct.ac.za" class="neat-link">Keep in Touch </a>
    &nbsp; | &nbsp; Sahil Haridas &nbsp; | &nbsp; University Of Cape Town
  </nb-layout-footer>

</nb-layout>
