.neat-link {
    text-decoration: none;
}

.btn-link {
    text-decoration: none;
    color: whitesmoke;
}

.add-space {
    margin-left: 2;
}

.align-text {
    width: auto;
    height: 1.5em;
    vertical-align: bottom;
}